<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqupt.remotecontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cqupt.remotecontrol.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.RoomList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.AddEquipment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.RoomInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.GridActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.MessageActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.IpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OtherActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.cqupt.remotecontrol.BtActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <service android:name="com.cqupt.remotecontrol.BlueToothServer" >
            <intent-filter>
                <action android:name="com.example.server.searchstart" />
            </intent-filter>
        </service>
    </application>

</manifest>